<div class="flex mx-auto shadow-lg mt-5 mb-4 w-full">
  <%= form_with(model: [@book, @book.comments.build], class: 'w-full max-w-full bg-white rounded-lg px-4 pt-2') do |form| %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Добавить новый комментарий</h2>
      <div class="w-full flex items-start px-3">
        <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
          <svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
          </svg>
          <p class="text-xs md:text-sm pt-px">Давайте уважать друг друга и соблюдать рамки приличий.</p>
        </div>
        <div class="-mr-1">
          <%= form.submit 'Отправить', class: 'bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100' %>
        </div>
      </div>

      <%= form.hidden_field :book_id %>
  <% end %>
  </div>
</div>
