<nav aria-label="хлебные крошки">
  <ol class="flex flex-wrap items-center gap-1.5 break-words text-sm text-muted-foreground sm:gap-2.5">
    <% items.each_with_index do |item, index| %>
      <% if index > 0 %>
        <li role="presentation" aria-hidden="true" class="[&>svg]:w-3.5 [&>svg]:h-3.5 hidden md:block">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide size-4 lucide-chevron-right">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </li>
      <% end %>
      <li class="<%= index == items.size - 1 ? 'inline-flex items-center gap-1.5 font-normal text-foreground' : 'items-center gap-1.5 hidden md:block' %>">
        <% if item[:url] %>
          <a class="transition-colors hover:text-foreground" href="<%= item[:url] %>">
            <%= item[:name] %>
          </a>
        <% else %>
          <span role="link" aria-disabled="true" aria-current="page">
            <%= item[:name] %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>
