<div class="container mt-6 px-4 mx-auto">
  <div class="flex flex-wrap">
    <div class="basis-1/4">
      <%= link_to "Добавить нового автора", new_author_path, class: "focus:outline-none" %>
    </div>
    <div class="basis-3/4">
      <div class="flex flex-wrap ">
        <% @authors.each do |author| %>
          <div class="focus:outline-none h-48 w-40 mb-12 mr-4">
            <%= link_to author_path(author) do %>
              <img
                src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_7_7.png"
                alt="man avatar"
                class="h-full w-full rounded overflow-hidden shadow"
              />
              <div class="flex items-center justify-between">
                <h2 tabindex="0" class="focus:outline-none font-semibold ">
                  <%= author.name %>
                </h2>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
