<div class="container mx-auto p-4">
  <!-- Book Cover and Main Details -->
  <div class="flex gap-8">
    <div class="w-1/3">
      <img src="https://cdn.litres.ru/pub/c/cover_415/69495367.webp" alt="Book Cover" class="rounded-lg">
      <button class="w-full bg-green-600 text-white py-2 mt-4 rounded-lg">Хочу прочитать</button>
      <button class="w-full border border-green-600 text-green-600 py-2 mt-2 rounded-lg">Shop this series</button>
      <div class="flex justify-center mt-4">
        <!-- Rating Stars -->
        <div class="flex items-center space-x-1">
          <svg class="w-6 h-6 text-yellow-500" fill="currentColor" viewBox="0 0 24 24">
            <path d="..."></path>
          </svg>
          <svg class="w-6 h-6 text-yellow-500" fill="currentColor" viewBox="0 0 24 24">
            <path d="..."></path>
          </svg>
          <svg class="w-6 h-6 text-yellow-500" fill="currentColor" viewBox="0 0 24 24">
            <path d="..."></path>
          </svg>
          <svg class="w-6 h-6 text-yellow-500" fill="currentColor" viewBox="0 0 24 24">
            <path d="..."></path>
          </svg>
          <svg class="w-6 h-6 text-gray-300" fill="currentColor" viewBox="0 0 24 24">
            <path d="..."></path>
          </svg>
        </div>
        <span class="ml-2 text-lg font-semibold">4.47</span>
      </div>
    </div>

    <!-- Book Information -->
    <div class="w-2/3">
      <h1 class="text-4xl font-bold"><%= @book.title %></h1>
      <p class="text-lg text-gray-600">
        <%= @book.author.name %></p>


      <div id="editorjs" data-controller="editor" class="mt-4">
        <div class="hidden" data-editor-target="html"><p>&nbsp;</p>
          <table style="width: 98.2484%; border-collapse: collapse; height: 1620px;" border="1">
            <tbody>
            <tr style="height: 101px;">
              <td style="width: 17.6337%; height: 101px;">
                <p style="padding-left: 40px;">Контакты</p>
              </td>
              <td style="width: 80.6152%; height: 101px;">
                <p style="padding-left: 40px;">Общий телефон для справок: <br>+7 (499) 484-77-77<br>8 800 777-74-84 (для
                  регионов)</p>
                <p style="padding-left: 40px;">Сайт: <a href="https://www.gctm.ru/">https://www.gctm.ru/</a></p>
              </td>
            </tr>
            <tr style="height: 195px;">
              <td style="width: 17.6337%; height: 194px;">
                <p style="padding-left: 40px;">Главное здание&nbsp;</p>
              </td>
              <td style="width: 80.6152%; height: 194px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, ул. Бахрушина, 31/12<br>м. "Павелецкая"</p>
                <p style="padding-left: 40px;">Телефон: +7 (499) 484-77-77, доб. 1</p>
                <p style="padding-left: 40px;">Режим работы:<br>Вторник, Пятница, Суббота-Воскресенье с 10:00 до 19:00,
                  касса до 18:30<br>Среда, Четверг с 10:00 до 21:00, касса до 20:30<br>Понедельник &ndash; выходной&nbsp;
                </p>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 17.6337%; height: 17px;">
                <p style="padding-left: 40px;">Цены на посещение постоянно действующих экспозиций и временных
                  выставок</p>
              </td>
              <td style="width: 80.6152%; height: 17px;">
                <p style="padding-left: 40px;">На сайте Театрального музея им. А. А. Бахрушина введена система
                  онлайн-продажи билетов на все выставки и культурно-просветительские мероприятия Главного здания музея
                  и
                  его филиалов. Узнать стоимость и приобрести билет на интересующее Вас событие Вы можете в
                  разделе &laquo;Афиша&raquo;, или на Главной странице сайта, кликнув на кнопку &laquo;Купить билет&raquo;.</p>
                <p style="padding-left: 40px;">Музей оставляет за собой право устанавливать иную стоимость билетов на
                  отдельные проекты, культурно-просветительские мероприятия и временные выставки, проводимые в Главном
                  доме, Театральной галерее на Малой Ордынке, Театральном салоне на Тверском бульваре.</p>
                <p style="padding-left: 40px;"><strong>ПОДСКАЗКА ОПЕРАТОРУ:</strong> Актуальную стоимость билетов смотри
                  по ссылке:
                  <a href="http://www.gctm.ru/buy-tickets/#/events/2019/08">http://www.gctm.ru/buy-tickets/#/events/2019/08</a>
                </p>
                <p style="padding-left: 40px;">Список льготных категорий смотри по
                  ссылке:&nbsp;<a href="http://www.gctm.ru/lgotnoe-poseshhenie-postoyannyih-ekspozitsiy-vremennyih-vyistavok-i-ekskursionnyih-programm/">http://www.gctm.ru/lgotnoe-poseshhenie-postoyannyih-ekspozitsiy-vremennyih-vyistavok-i-ekskursionnyih-programm/</a>
                </p>
                <p style="padding-left: 40px;">Перечень лиц, имеющих право на бесплатное посещение постоянных
                  экспозиций:
                  <a href="http://www.gctm.ru/perechen-lits-imeyushhih-pravo-na-besplatnoe-poseshhenie-postoyannyih-ekspozitsiy/">http://www.gctm.ru/perechen-lits-imeyushhih-pravo-na-besplatnoe-poseshhenie-postoyannyih-ekspozitsiy/</a>
                </p>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 17.6337%; height: 17px;">
                <p style="padding-left: 40px;">Цены на экскурсионное обслуживание</p>
              </td>
              <td style="width: 80.6152%; height: 17px;">
                <p style="padding-left: 40px;">Узнать стоимость и приобрести билет на интересующее Вас экскурсионное
                  обслуживание Вы можете на Главной странице сайта, кликнув на кнопку &laquo;Заказать экскурсию&raquo;.
                  Для получения дополнительной информации Вы можете позвонить по телефону: +7 (499) 484-77-77</p>
                <p style="padding-left: 40px;">Обращаем Ваше внимание, что заказ на экскурсии музей считает принятым
                  только после ответного звонка сотрудника музея.</p>
                <p style="padding-left: 40px;"><strong>ПОДСКАЗКА ОПЕРАТОРУ:</strong> Актуальную стоимость экскурсионного
                  обслуживания смотри по ссылке:
                  <a href="https://www.gctm.ru/buy-tickets/#/afisha/excursion/0">https://www.gctm.ru/buy-tickets/#/afisha/excursion/0</a>
                </p>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 17.6337%; height: 17px;">
                <p style="padding-left: 40px;">Дом-музей А.Н. Островского /Театральная галерея на Малой Ордынке</p>
              </td>
              <td style="width: 80.6152%; height: 17px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, ул. Малая Ордынка, д. 9<br>м. "Третьяковская"</p>
                <p style="padding-left: 40px;">Телефон: +7 (499) 484-77-77, доб.2&nbsp; &nbsp;&nbsp;</p>
                <p style="padding-left: 40px;"><strong>ВАЖНО:</strong> Филиал закрыт на реконструкцию.<br>Приглашаем вас
                  посетить другие филиалы Государственного центрального театрального музея имени А.А.Бахрушина.<br>Приносим
                  свои извинения за доставленные неудобства!<strong><br></strong></p>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 17.6337%; height: 17px;">
                <p style="padding-left: 40px;">Дом-музей М.Н. Ермоловой / Театральный салон на Тверском бульваре</p>
              </td>
              <td style="width: 80.6152%; height: 17px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, Тверской бульвар, д. 11<br>м. "Тверская", "Пушкинская",
                  "Чеховская"</p>
                <p style="padding-left: 40px;">Телефон: +7 (499) 484-77-77 доб. 3</p>
                <p style="padding-left: 40px;">Режим работы:<br>Вторник, пятница, суббота, воскресенье с 10:00 до 19:00;
                  касса до 18:30<br>Среда, четверг с 10:00 до 21:00; касса до 20:30<br>Выходной день &mdash;
                  понедельник<br><br></p>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 17.6337%; height: 17px;">
                <p style="padding-left: 40px;">Дом-музей М.С. Щепкина</p>
              </td>
              <td style="width: 80.6152%; height: 17px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, ул. Щепкина, д. 47, стр. 2<br>м. "Проспект Мира"</p>
                <p style="padding-left: 40px;">Телефон:+7 (499) 484-77-77 доб. 4&nbsp; &nbsp;</p>
                <p style="padding-left: 40px;">Режим работы: <br>Среда - Воскресенье с 11:00 до 19:00, касса до
                  18:30<br>Понедельник,
                  вторник &ndash; выходной&nbsp;<br><br>В дни проведения спектаклей музей закрыт для посещения.</p>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 17.6337%; height: 17px;">
                <p style="padding-left: 40px;">Музей-квартира Вс.Э. Мейерхольда</p>
              </td>
              <td style="width: 80.6152%; height: 17px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, Брюсов пер., д. 12, кв. 11<br>м. "Охотный ряд",
                  "Театральная", "Пушкинская", "Чеховская", "Театральная"</p>
                <p style="padding-left: 40px;">Телефон: +7 (499) 484-77-77 доб. 5</p>
                <p style="padding-left: 40px;">Режим работы: <br>Среда, пятница, воскресенье с 11:00 до 20:00; касса до
                  19:30<br>Четверг, суббота с 12:00 до 21:00; касса до 20:30<br>Выходные дни &mdash; понедельник,
                  вторник.<br><br>Для
                  прохода в музей:<br>Код домофона &ndash; 11, внутренний код &ndash; 11</p>
                <p style="padding-left: 40px;">Уважаемые посетители, обращаем Ваше внимание, что мероприятия в
                  музее-квартире Вс. Мейерхольда проходят непосредственно в экспозиции. Даты и часы проведения
                  мероприятий
                  заранее публикуются на сайте Бахрушинского музея. Если вы хотите посетить музей с экскурсией или
                  самостоятельно, просьба внимательно выбирать дни и часы, свободные от концертов, спектаклей и т.п.
                  Экскурсии необходимо заказывать по телефонам музея-квартиры.</p>
                <p style="padding-left: 40px;">E-mail: <a href="mailto:vmakerkhold@yandex.ru">vmakerkhold@yandex.ru</a>
                </p>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 17.6337%; height: 17px;">
                <p style="padding-left: 40px;">Музей-квартира актёрской семьи М.В., А.А. Мироновых &mdash; А.С.
                  Менакера</p>
              </td>
              <td style="width: 80.6152%; height: 17px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, Малый Власьевский пер., д. 7, кв. 8<br>м. "Смоленская"
                </p>
                <p style="padding-left: 40px;">Телефон: +7 (499) 484-77-77 доб. 6</p>
                <p style="padding-left: 40px;">Режим работы:<br>Среда &ndash; воскресенье с 11:00 до 20:00; касса до
                  19:30<br>Выходные
                  дни &mdash; понедельник, вторник.</p>
                <p style="padding-left: 40px;">Важно: посещение строго по предварительной записи.</p>
                <p style="padding-left: 40px;">E-mail: <a href="mailto:muz-mir@mail.ru">muz-mir@mail.ru</a></p>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 17.6337%; height: 17px;">
                <p style="padding-left: 40px;">Музей-квартира Г.С. Улановой</p>
              </td>
              <td style="width: 80.6152%; height: 17px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, Котельническая наб., 1/15, корп.Б, кв. 185<br>м.
                  "Таганская"</p>
                <p style="padding-left: 40px;">Навигационный маршрут от ст. м. Таганская (кольцевая)<br>Ост. наземного
                  транспорта - Кинотеатр &laquo;Иллюзион&raquo;:<br>троллейбусами № 63 и № 16,<br>автобусами: 156, 255,
                  М27, М7, Н5, Н7<br>Подъезд № 3-4 (центральный, со стороны набережной), этаж 6, кв. 185.</p>
                <p style="padding-left: 40px;">Телефон: +7 (499) 484-77-77 доб. 7</p>
                <p style="padding-left: 40px;">Режим работы:<br>Среда-воскресенье с 11:00 до 20:00<br>Выходные
                  дни &mdash;
                  понедельник, вторник.</p>
                <p style="padding-left: 40px;">Продолжительность индивидуального посещения экспозции без
                  экскурсии &mdash;
                  не более 45 минут.</p>
                <p style="padding-left: 40px;">Посещение музея возможно только по предварительной записи по телефону: +7
                  (499) 484-77-77 доб. 7</p>
              </td>
            </tr>
            <tr style="height: 278px;">
              <td style="width: 17.6337%; height: 278px;">
                <p style="padding-left: 40px;">Музей-квартира В.Н. Плучека</p>
              </td>
              <td style="width: 80.6152%; height: 278px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, ул. Б. Бронная, д. 2/6, кв. 47<br>м. "Пушкинская"</p>
                <p style="padding-left: 40px;">Телефон: +7 (499) 484-77-77, доб. 8</p>
                <p style="padding-left: 40px;">Режим работы:<br>Вторник, среда, пятница с 10:00 до 19:00; касса до
                  18:30<br>Четверг с 11:30 до 20:30; касса до 20:00<br>Суббота с 11:00 до 20:00; касса до 19:30<br>Выходные
                  дни &mdash; понедельник, воскресенье</p>
                <p style="padding-left: 40px;">Посещение по предварительной записи по телефону: + 7 (495) 697-70-83</p>
              </td>
            </tr>
            <tr style="height: 314px;">
              <td style="width: 17.6337%; height: 314px;">
                <p style="padding-left: 40px;">Мемориальный музей &laquo;Творческая мастерская театрального художника
                  Д.Л.
                  Боровского&raquo;</p>
              </td>
              <td style="width: 80.6152%; height: 314px;">
                <p style="padding-left: 40px;">Адрес: г. Москва, Б. Афанасьевский переулок, д. 3, стр. 3<br>м.
                  "Кропоткинская"</p>
                <p style="padding-left: 40px;">Телефон: +7 (499) 484-77-77, доб. 9</p>
                <p style="padding-left: 40px;">Режим работы:<br>Вторник, среда с 11:00 до 19:30; касса до
                  19:00<br>Четверг &nbsp;с 11:00 до 21:30; касса до 21:00<br>Пятница с 11:00 до 20:30; касса до
                  20:00<br>Суббота
                  с 12:00 до 20:00; касса до 19:30<br>Выходные дни &mdash; понедельник, воскресенье.</p>
                <p style="padding-left: 40px;">E-mail: <a href="mailto:dramalab@mail.ru">dramalab@mail.ru</a></p>
              </td>
            </tr>
            <tr style="height: 217px;">
              <td style="width: 17.6337%; height: 217px;">
                <p style="padding-left: 40px;">Музей-студия Радиотеатра</p>
              </td>
              <td style="width: 80.6152%; padding-left: 40px; height: 217px;">
                <p>Адрес: г. Москва, Б. Овчинниковский пер., дом 17/1, кв.5<br>м. "Новокузнецкая"</p>
                <p>Телефон: +7 (499) 484-77-77, доб. 10</p>
                <p>Режим работы:<br>Вторник, среда, пятница с 10:00 до 19:00; касса до 18:30<br>Четверг, суббота&nbsp; с
                  11:00 до 20:00; касса до 19:30<br>Выходные дни &mdash; понедельник, воскресенье.</p>
              </td>
            </tr>
            <tr style="height: 199px;">
              <td style="width: 17.6337%; height: 199px;">
                <p style="padding-left: 40px;">Дом-ателье Ливчака</p>
              </td>
              <td style="width: 80.6152%; padding-left: 40px; height: 199px;">
                <p>Адрес: г. Ульяновск, ул. Ливчака, д. 4</p>
                <p>Телефон: +7 (8422) 41-21-29</p>
                <p>Режим работы: <br>Ежедневно с 9.00 до 17.00<br>Четверг&nbsp; с 9.00 до 21.00<br>Суббота&nbsp; с 11.00
                  до 19.00<br>Понедельник - выходной</p>
              </td>
            </tr>
            <tr style="height: 181px;">
              <td style="width: 17.6337%; height: 181px;">
                <p style="padding-left: 40px;">Театральный музей в Зарайске</p>
              </td>
              <td style="width: 80.6152%; padding-left: 40px; height: 181px;">
                <p>Адрес: г. Зарайск, ул. Красноармейская, д. 51</p>
                <p>Телефон: +7 (499) 484-77-77, доб. 11</p>
                <p>Режим работы:<br>Среда - воскресенье с 9:00 до 18:00; касса до 17:30<br>Выходные дни &mdash;
                  понедельник, вторник.</p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Genres/Tags -->
      <div class="mt-4 flex space-x-2">
        <button class="px-3 py-1 bg-gray-200 rounded-full">Fantasy</button>
        <button class="px-3 py-1 bg-gray-200 rounded-full">Fiction</button>
        <button class="px-3 py-1 bg-gray-200 rounded-full">Young Adult</button>
        <button class="px-3 py-1 bg-gray-200 rounded-full">Magic</button>
      </div>

      <!-- Book Details -->
      <div class="mt-6 text-gray-500">
        <p>333 pages, Kindle Edition</p>
        <p>First published June 26, 1997</p>
      </div>
    </div>
  </div>

  <!-- About the Author -->
  <div class="mt-12">
    <h2 class="text-2xl font-semibold">About the author</h2>
    <div class="flex items-center mt-4">
      <img src="https://via.placeholder.com/100x100" alt="Author Photo" class="rounded-full mr-4">
      <div>
        <p class="font-bold">J.K. Rowling</p>
        <p class="text-gray-600">710 books - 228k followers</p>
      </div>
    </div>
  </div>
</div>
