<div
  class="flex h-16 shrink-0 items-center gap-2 transition-[width,height] ease-linear group-has-[[data-collapsible=icon]]/sidebar-wrapper:h-12"
>
  <div class="flex items-center gap-2 px-4">
    <button
      class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground h-7 w-7 -ml-1"
      data-sidebar="trigger"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-4 lucide lucide-panel-left "
      >
        <rect width="18" height="18" x="3" y="3" rx="2"></rect>
        <path d="M9 3v18"></path>
      </svg>
      <span class="sr-only"
      ><font style="vertical-align: inherit;"
      ><font style="vertical-align: inherit;"
      >Переключить боковую панель</font
      ></font
      ></span
      >
    </button>

    <div
      data-orientation="vertical"
      role="none"
      class="shrink-0 bg-neutral-300 w-[1px] mr-2 h-4"
    ></div>

    <% if current_page?(root_path) %>
      <%= render BreadcrumbsComponent.new(items: [
        { name: 'Главная', url: '/' },
      ]) %>
    <% else %>
      <%= render BreadcrumbsComponent.new %>
  <% end %>
  </div>
</div>
